@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=La+Belle+Aurore&family=Lato&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
body{
    background-color: #1d1d1d;
    margin: 0;
    overflow-x: hidden;
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.auto{
    margin: auto;
}
